DEBUG=1

### OpenAI #########################################################

# openai via foundry
# AZURE_OPENAI__ENDPOINT="https://FIXME.openai.azure.com/openai/v1"

# openai via APIM
# AZURE_OPENAI__ENDPOINT="https://FIXME.azure-api.net/FIXME/openai/"
# AZURE_OPENAI__API_KEY="FIXME"

# AZURE_OPENAI__DEPLOYMENT="gpt-4.1-global-standard-latest"
# AZURE_OPENAI__DEPLOYMENT="gpt-4.1-global-standard-stable"

### MCP ###########################################################

# MCP directly
APIM_MCP__URL="https://learn.microsoft.com/api/mcp"

# MCP via APIM
# APIM_MCP__URL="https://FIXME.azure-api.net/FIXME/api/mcp"
# APIM_MCP__SUBSCRIPTION_KEY="FIXME"
